body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkRZri3_3UfuSQJo1Xs05aXDsVjPsLO-DGgw&s);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-image: url(https://cdn.create.vista.com/api/media/small/165381000/stock-photo-dollar-banknotes);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    padding: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  h1{
    font-size:70px;
    color: #fff;
  }
  
  .exchange-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  input[type="number"] {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 22px;
    width: 800px;
  }
  
  select {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 22px;
    width: 200px;
  }
  
  button {
    padding: 30px 90px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
  }